*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 20%;
    display: flex;
    background-color: rgb(10, 169, 237);
}
#logo-container img{
    width:10%;
    height:100%;
    border-radius: 5px;
}
img:hover{
    border: 1px solid rgb(250, 249, 249);
}
#search-container{
    width:430px;
}
#search{
    height: 30px;
    border-radius: 5px;
    border:none;
    margin-top: 10px;
    margin-bottom:5px ;
    font-size: medium;
    padding: 5px;
}
#login{
    margin-top: 10px;
    margin-left: 10px;
    height: 29px;
    width:50px;
    margin-left: 50px;
    background-color: rgb(10, 169, 237);

    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;

}
#search:hover,#login:hover{
    border: 2px solid rgb(7, 7, 7);
}
#login:hover{
    background-color: rgb(63, 63, 81);
}
nav{
    width: 100%;
    padding: 6px;
    background-color:rgb(42, 143, 186);
}
a{
    text-decoration: none;
    color: white;
    font-size:large;
    font-weight:500;
    margin-left: 20px;
    padding: 6px;
}
a:hover{
    border: 1px solid white;
}
#productCardContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
}
#productCardContainer img{
        padding-left: 75px;
    
}
#products{
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
    line-height: 25px;
}
footer{
    background-color: rgb(4, 84, 104);
    display: flex;
    flex-direction: column;
    font-size: small;
}
h3{
    color: rgb(63, 35, 35);
    margin: 25px;
}
footer a{
    font-size: medium;
}
footer a:hover{
    text-decoration: underline;
    border: none;
}
.footerTopContent{
    display: flex;
    justify-content: space-around;
    margin:12px 0;
    border-bottom: 1px solid rgb(111, 110, 110);;
    padding-bottom: 30px;
}
.footerLeftContent,.footerRightContent{
    display: flex;
}
.about,.help,.consumer,.social{
    display: flex;
    flex-direction: column;
}
.line{
    padding-left: 20px;
    border-left: 1px solid rgb(111, 110, 110);
    margin-right: 25px;
}
span{
    margin-left: 20px;
    color: white;
}
p{
    color: white;
    line-height: 30px;
}
.footerBottomContent{
    padding: 10px;
}
